<!doctype html>
{% load cms_tags sekizai_tags menu_tags %}
<html>
  <head>
      {% load staticfiles %}
      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{% page_attribute meta_description %}"/>
      <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
      <title>Django CMS | {% page_attribute "title" %}</title>
      <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet">
      <style>
          .cms_placeholder { display: block !important; }
      </style>
      {% render_block "css" %}
  </head>
  <body>
      {% cms_toolbar %}


      <div class="container" style="margin-top: 10px;">
          {% if messages %}
          {% for message in messages %}
          <div class="alert alert-info">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              {{message}}
          </div>
          {% endfor %}
          {% endif %}
          <div class="row">
              <div class="span3">
                  {% load menu_tags %}
                  <ul class="nav nav-list well">
                      <li class="nav-header">Nawigacja</li>
                      {% show_menu 0 100 100 100 %}
                  </ul>
              </div>
              <div class="span9">
                  <nav id="breadcrumb">
                      <ul class="breadcrumb">
                          {% show_breadcrumb %}
                      </ul>
                  </nav>

                  <header>
                      {% placeholder header %}
                  </header>

                  {% block content %}{% endblock %}

                  <hr>
                  <footer>
                      {% placeholder 'footer' or %}
                      <p>Stopka</p>
                      {% endplaceholder %}
                  </footer>
              </div>
          </div>
      </div>

      {% render_block "js" %}
      <script src="//code.jquery.com/jquery-latest.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>

  </body>
</html>