{% extends "base.html" %}
{% load cms_tags %}

{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
    <div class="span12">
        {% placeholder 'col-1'  or %}
        Tekst Tekst Tekst Tekst Tekst Tekst Tekst TekstTekst Tekst Tekst TekstTekst Tekst Tekst TekstTekst</br>
        Tekst Tekst TekstTekst Tekst Tekst TekstTekst Tekst Tekst TekstTekst Tekst Tekst TekstTekst Tekst Tekst</br>
        TekstTekst Tekst Tekst TekstTekst Tekst Tekst TekstTekst Tekst Tekst TekstTekst Tekst Tekst Tekst
        {% endplaceholder %}
    </div>
</div>
{% endblock %}