{% extends "base.html" %}

{% block content %}
<form action="{% url 'blog_add' %}" method="POST" xmlns="http://www.w3.org/1999/html">
    {% csrf_token %}
    <table>
        {{ form.as_p }}
    </table>
    <div class="column text-center">
        <button id="add" type="submit" class="btn">Add entry</button>
    </div>
</form>
{% endblock %}