{% extends "base.html" %}

{% block content %}
<div class="users">
    {% for usr in Users %}
    <div class="user">
        <div><a href="{% url 'entries_view' username=usr.username %}">{{ usr.username }}</a></div>
    </div>
    {% endfor %}
</div>
{% endblock %}