{% extends "base.html" %}

{% block content %}

    <h4>{{ author }}'s entries</h4>
    {% for entry in entries %}
        <article>

            <h3>{{ entry.title }}</h3>
            <h6>Written on {{ entry.date }}.</h6>

            <div class="row">
                <div class="large-12 columns">
                    <p>{{ entry.text }} </p>
                   {%if  user == entry.author%}
                    <a href="{%url 'blog_edit' entry.pk%}">Edit</a>
                    {%endif%}
                </div>
            </div>
        </article>
        <hr />
    {% endfor %}


{% endblock %}