{% extends "base.html" %}

{% block content %}
{% for entry in entries %}
<article xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
         xmlns="http://www.w3.org/1999/html">

    <h3>{{ entry.title }}</h3>
    <h6>Written by <a href="{% url 'entries_view' username=entry.author %}">{{ entry.author }}</a> on {{ entry.date }}.</h6>
    {%if entry.lasteditby %}
    <small>Last edited by {{entry.lasteditby}} on {{entry.lastmodified}}</small>
    </br>
    </br>
    {%endif%}
    <div class="row">
        <div class="large-12 columns">
            <p>{{ entry.text }} </p>
            <small>{% for tag in entry.tags.all %}
                {{ tag }}
                {% endfor %}</small></br></br><span>
                    <a class="small" href="{%url 'blog_edit' entry.pk%}">Edit</a>
                </span>
        </div>

    </div>
</article>
{% endfor %}
{% endblock %}