<div id="commentsplugin span9">
    <strong>Komentarze</strong>
    <div class="commentsform">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Wyślij" />
        </form>
    </div>
    <div class="comments">
        <small>
            {% for comment in comments %}
            <div class="comment-username">
                User: {{comment.username}}
            </div>
            <div class="comment-content">
                {{comment.content}}
            </div>
            <div class="comment-created">
                {{comment.created}}
            </div>
            <hr />
            {% endfor %}
        </small>
    </div>
</div>