{% load sekizai_tags %}

{% addtoblock "xmlns" %} xmlns:fb="http://ogp.me/ns/fb#"  {% endaddtoblock %}

{% addtoblock "js" %}
<div id="fb-root"></div>

<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pl_PL/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

{% endaddtoblock %}


<fb:like href="{{ like.pageurl }}"
{% if like.width %}  width="{{ like.width }}" {% endif %}
{% if not like.show_faces %}  show_faces="false" {% endif %}
action="like"
</fb:like>